@charset "UTF-8";
/* Add your custom CSS declarations below  */
li {
    color: #151515;
}
.nav-item.nav-link.active {
    color: #055384;
}
a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
}
h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 29px;
}

h4 {
     font-family: 'Roboto', sans-serif;
}
h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

.card-img-overlay: hover {
    opacity: 0.7;
}
small {
    color: gainsboro;
}
.padding-0{
    padding-right: 0px;
    padding-left: 0px;
}
.margin-row {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #333333 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


.container{
height: 100%;
align-content: center;
width: 100%;
}



.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
height: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.navbar-nav>li{
border-right: 1px solid #100;
border-color: lightgrey;
}
.navbar-nav>li:last-child{
   border: none;
}
     @media (min-width: 200px) { 
   
    #whole {
        margin-left: 10%;
    }
         #whole2 {
        margin-left: 10%;
        margin-bottom: 15px;
    }
      #Pro-Pic {
          margin-left: 5%;
        
        }  
         #Email {
            display: block;
            margin-bottom: 15px;
        }
    #First {
            margin-bottom:15px;
        }
        #Last {
             margin-bottom:15px;
        }
        #CB {
  margin-bottom:15px;
        }
        #Email2 {
             margin-bottom:15px;
        }
        #Phone {
             margin-bottom:15px;
        }
    #Profile {
            display:inline-block; 
            margin-left: 50px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 30px;
        }
    } 
@media (min-width: 320px) { 
   
    #whole {
        margin-left: 3%;
    }
         #whole2 {
        margin-left: 10%;
        margin-bottom: 15px;
    }
      #Pro-Pic {
          margin-left: 5%;
        
        }  
         #Email {
            display: block;
            margin-bottom: 15px;
        }
    #First {
            margin-bottom:15px;
        }
        #Last {
             margin-bottom:15px;
        }
        #CB {
  margin-bottom:15px;
        }
        #Email2 {
             margin-bottom:15px;
        }
        #Phone {
             margin-bottom:15px;
        }
    #Profile {
            display:inline-block; 
            margin-left: 13px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers2 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers3 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers4 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 30px;
        }
    } 
@media (min-width: 360px) { 
   
    #whole {
        margin-left: 8%;
    }
         #whole2 {
        margin-left: 10%;
        margin-bottom: 15px;
    }
      #Pro-Pic {
          margin-left: 5%;
        
        }  
         #Email {
            display: block;
            margin-bottom: 15px;
        }
    #First {
            margin-bottom:15px;
        }
        #Last {
             margin-bottom:15px;
        }
        #CB {
  margin-bottom:15px;
        }
        #Email2 {
             margin-bottom:15px;
        }
        #Phone {
             margin-bottom:15px;
        }
    #Profile {
            display:inline-block; 
            margin-left: 13px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers2 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers3 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers4 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 30px;
        }
    } 
@media (min-width: 375px) { 
   
    #whole {
        margin-left: 10%;
    }
         #whole2 {
        margin-left: 10%;
        margin-bottom: 15px;
    }
      #Pro-Pic {
          margin-left: 5%;
        
        }  
         #Email {
            display: block;
            margin-bottom: 15px;
        }
    #First {
            margin-bottom:15px;
        }
        #Last {
             margin-bottom:15px;
        }
        #CB {
  margin-bottom:15px;
        }
        #Email2 {
             margin-bottom:15px;
        }
        #Phone {
             margin-bottom:15px;
        }
    #Profile {
            display:inline-block; 
            margin-left: 13px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers2 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers3 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
    #Drivers4 {
            display:block; 
             margin-top: 0px;
      
            margin-bottom: 0px;
            margin-left: 50px; 
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-left: 50px; 
            margin-bottom: 30px;
        }
    } 
    @media (min-width: 400px) { 
    #whole {
        margin-left: 15%;
    }
    #whole2 {
        margin-left: 14%;
       
    }
        a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
        
    } 
@media (min-width: 430px) {
    #Title {
      margin-left: 25%;
      
             }
         #Stars {
             margin-left: 25%;
         }
          #person {
            margin-left: 23%;
        }
         #SubTitle {
             margin-left: 35px;
         }
         #Text {
             margin-left: 26px; 
         }
     #First {
          display: block;
            margin-bottom:0px;
        }
        #Last {
            display: block;
             margin-bottom:0px;
        }
        #CB {
            display: block;
             margin-bottom:0px;
        }
         #Phone {
            display: block;
             margin-bottom:0px;
        }
     #Email2 {
             margin-bottom:0px;
        }
    }
@media (min-width: 500px) { 
    #whole {
        margin-left: 23%;
    }
    #whole2 {
        margin-left: 5%;
       
    }
        a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
      #Title {
      margin-left: 136px;
      
             }
         #Stars {
             margin-left: 135px;
         }
          #person {
            margin-left: 100px;
        }
         #SubTitle {
             margin-left: 35px;
         }
         #Text {
             margin-left: 26px; 
         }
      #First {
          display: block;
            margin-bottom:0px;
        }
        #Last {
            display: block;
             margin-bottom:0px;
        }
        #CB {
            display: block;
             margin-bottom:0px;
        }
         #Phone {
            display: block;
             margin-bottom:0px;
        }
     #Email2 {
             margin-bottom:0px;
        }
    }
@media (min-width: 600px) { 
    #whole {
        margin-left: 27%;
    }
    #whole2 {
        margin-left: 5%;
       
    }
        a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
      #Title {
      margin-left: 136px;
      
             }
         #Stars {
             margin-left: 135px;
         }
          #person {
            margin-left: 100px;
        }
         #SubTitle {
             margin-left: 35px;
         }
         #Text {
             margin-left: 26px; 
         }
      #First {
          display: block;
            margin-bottom:0px;
        }
        #Last {
            display: block;
             margin-bottom:0px;
        }
        #CB {
            display: block;
             margin-bottom:0px;
        }
         #Phone {
            display: block;
             margin-bottom:0px;
        }
     #Email2 {
             margin-bottom:0px;
        }
    }
 @media (min-width: 640px) { 
    #whole {
        margin-left: 28%;
    }
    #whole2 {
        margin-left: 5%;
       
    }
        a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
      #Title {
      margin-left: 136px;
      
             }
         #Stars {
             margin-left: 135px;
         }
          #person {
            margin-left: 100px;
        }
         #SubTitle {
             margin-left: 35px;
         }
         #Text {
             margin-left: 26px; 
         }
      #First {
          display: block;
            margin-bottom:0px;
        }
        #Last {
            display: block;
             margin-bottom:0px;
        }
        #CB {
            display: block;
             margin-bottom:0px;
        }
         #Phone {
            display: block;
             margin-bottom:0px;
        }
     #Email2 {
             margin-bottom:0px;
        }
    }
    
    @media (min-width: 768px) { 
       
        #First {
            display: inline;
            margin-bottom:0px;
        }
        #Last {
            display: inline;
             margin-bottom:0px;
        }
        #CB {
            display: inline;
             margin-bottom:0px;
        }
        #Email2 {
             margin-bottom:0px;
        }
        #Phone {
            display: inline;
             margin-bottom:0px;
        }
    a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
    #Pro-Pic {
            float: left; 
            overflow: auto;
              margin-left: 0%;
        }
        #Email {
            display: inline-block;
            margin-bottom: 0px;
        }
    #whole {
        margin-left: 21%;
    }
        #whole2 {
        margin-left: 6%;
        margin-bottom: 0px;
    }
        #Profile {
            display:inline-block; 
            float: right; 
            margin-left: 0px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
            margin-top: 25px;
            margin-left: 0px; 
        }
        #Drivers2 {
            display:block; 
            margin-top: 25px;
            margin-left: 0px; 
        }
        #Drivers3 {
            display:block; 
            margin-top: 25px;
            margin-left: 0px; 
        }
        #Drivers4 {
            display:block; 
            margin-top: 25px;
            margin-left: 0px; 
        }
        #Reviews {
            display:block; 
           margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
        #Title {
      margin-left: 236px;
      
             }
         #Stars {
             margin-left: 235px;
         }
          #person {
            margin-left: 200px;
        }
         #SubTitle {
             margin-left: 126px;
         }
         #Text {
             margin-left: 50px; 
         }
    }
    @media (min-width: 850px) { 
       
        #First {
            margin-bottom:0px;
        }
        #Last {
             margin-bottom:0px;
        }
        #CB {
             margin-bottom:0px;
        }
        #Email2 {
             margin-bottom:0px;
        }
        #Phone {
             margin-bottom:0px;
        }
    
    
    #Pro-Pic {
            float: left; 
            overflow: auto;
              margin-left: 0%;
        }
        #Email {
            display: inline-block;
            margin-bottom: 0px;
        }
    #whole {
        margin-left: 23%;
    }
        #whole2 {
        margin-left: 9%;
        margin-bottom: 0px;
    }
        #Profile {
            display:inline-block; 
            float: right; 
            margin-left: 0px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers2 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers3 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers4 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
   @media (min-width: 895px) { 
       
        #First {
            margin-bottom:0px;
        }
        #Last {
             margin-bottom:0px;
        }
        #CB {
             margin-bottom:0px;
        }
        #Email2 {
             margin-bottom:0px;
        }
        #Phone {
             margin-bottom:0px;
        }
    
    
    #Pro-Pic {
            float: left; 
            overflow: auto;
              margin-left: 0%;
        }
        #Email {
            display: inline-block;
            margin-bottom: 0px;
        }
    #whole {
        margin-left: 21%;
    }
        #whole2 {
        margin-left: 9%;
        margin-bottom: 0px;
    }
        #Profile {
            display:inline-block; 
            float: right; 
            margin-left: 0px; 
            margin-top: 25px; 
            color: black;
        }
        #Drivers {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers2 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers3 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
       #Drivers4 {
            display:block; 
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
        }
        #Reviews {
            display:block; 
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
@media (min-width: 900px) {
           #whole {
        margin-left: 29%;
    }
    #Title {
      margin-left: 0px;
      
             }
         #Stars {
             margin-left: 0px;
         }
          #person {
            margin-left: 0px;
        }
        #SubTitle {
             margin-left: 0px;
         }
         #Text {
             margin-left: 0px; 
         }
        #Title {
       display:inline-block;
    
             }
        #person {
            float: left; overflow: auto;
        }
        
    }
 @media (min-width: 1000px) {
        #whole {
        margin-left: 29%;
    }
        #whole2 {
        margin-left: 17%;
    }
    }
    @media (min-width: 1024px) {
        #whole {
        margin-left: 29%;
    }
        #whole2 {
        margin-left: 17%;
    }
    }
    
     @media (min-width: 1224px) { 
    #whole {
        margin-left: 35%;
    }
    #whole2 {
        margin-left: 26%;
    }
    } 