@charset "UTF-8";
/* Add your custom CSS declarations below  */
li {
    color: #151515;
}
.nav-item.nav-link.active {
    color: #055384;
}
a {
    color: black;
    transition: .7s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 55px;
}
h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 29px;
}
h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

.card-img-overlay: hover {
    opacity: 0.7;
}
small {
    color: gainsboro;
}
.padding-0{
    padding-right: 0px;
    padding-left: 0px;
}
.margin-row {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #333333 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


.container{
height: 100%;
align-content: center;
width: 100%;
}



.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
height: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.navbar-nav>li{
border-right: 1px solid #100;
border-color: lightgrey;
}
.navbar-nav>li:last-child{
   border: none;
}
   @media (min-width: 208px) {
      
    }
    
     @media (min-width: 320px) {
         #Write {
             margin-left: 5px; 
             color: #FFC312;
             font-size: 40px;
        }
         #fname5 {
             display: block;
             width: 6rem;
         }
         
         #fname4 {
             display: block;
         }
         #fname3 {
             
         }
         
         #fname2 {
             
         }
         #fname {
             
         }
          #picture {
           margin-left: 9%; 
           margin-bottom: 20px;
         }
    }
@media (min-width: 360px) {
          #fname5 {
             display: block;
              
         }
         
         #fname4 {
             display: block;
         }
         #fname3 {
             display: block;
         }
         
         #fname2 {
             
         }
         #fname {
             
         }
    #Write {
             margin-left: 2px; 
             color: #FFC312;
             font-size: 46px;
        }
         #fname5 {
             display: block;
         }
         
         #fname4 {
             display: block;
         }
          #picture {
           margin-left: 9%; 
           margin-bottom: 20px;
         }
    }
@media (min-width: 375px) {
    #Write {
             margin-left: 1%; 
             color: #FFC312;
             font-size: 48px;
        }
         #fname5 {
             display: block;
         }
         
         #fname4 {
             display: block;
         }
    #fname3 {
             
             display: block;
         }
    #fname2 {
            display: block;
         }
          #picture {
           margin-left: 17%; 
           margin-bottom: 20px;
         }
    }
     @media (min-width: 409px) {
         #Write {
             margin-left: 1%; 
             color: #FFC312;
             font-size: 53px;
        }
        #fname5 {
             display: inline;
         }
        #fname4 {
             display: inline;
         }
         #picture {
           margin-left: 21%; 
           margin-bottom: 20px;
         }
         #fname {
             width: 45%;
         }
         #fname2 {
             width: 45%;
             display: inline;
         }
         #fname3 {
             width: 45%;
             display: inline;
         }
    }
    @media (min-width: 430px) {
       #Write {
             margin-left: 7%; 
             color: #FFC312;
        }
        #fname5 {
             display: inline;
         }
        #fname4 {
             display: inline;
         }
        #picture {
           margin-left: 23%; 
           margin-bottom: 20px;
         }
      
    }
@media (min-width: 500px) {
       #Write {
             margin-left: 14%; 
             color: #FFC312;
        }
        #fname5 {
             display: inline;
         }
        #fname4 {
             display: inline;
         }
        #picture {
           margin-left: 28%; 
           margin-bottom: 20px;
         }
      
    }
    @media (min-width: 540px) {
        #Write {
             margin-left: 13%; 
             color: #FFC312;
        }
      #fname {
             width: 40%;
         }
         #fname2 {
             width: 35%;
         }
         #fname3 {
             width: 20%;
         }
    #picture {
           margin-left: 132px; 
           margin-bottom: 20px;
         }
    }
    @media (min-width: 640px) {
        #Write {
             margin-left: 15%; 
             color: #FFC312;
        }
     #picture {
           margin-left: 132px; 
           margin-bottom: 20px;
         }
    }
    @media (min-width: 768px) {
        #Write {
             margin-left: 24%; 
             color: #FFC312;
        }
       #picture {
           float:right; 
           margin-left: 0px; 
           margin-bottom: 0px;
         }
        #fname {
             width: 37%;
         }
         #fname2 {
             width: 35%;
         }
         #fname3 {
             width: 190px;
         }
    }
    @media (min-width: 770px) {
    #picture {
           float:right;  
         }
    }
     @media (min-width: 800px) {
        
         #picture {
           float:right;  
         }
        #Write {
             margin-left: 24%; 
             color: #FFC312;
        }
         #State {
            margin-left: 0px;
            display: inline;
         }
         #Zip {
             
         }
         
         
    }
    @media (min-width: 900px) {
        
    }
    
    @media (min-width: 1024px) {
      #Write {
             margin-left: 31%; 
             color: #FFC312;
        }
        #City {
          float:left;
         }
        #State {
        margin-left: 3px;
        }
    }
    @media (min-width: 1027px) {
       
       
        
    }
    @media (min-width: 1100px) {
       
    }
    @media (min-width: 1124px) {
        #Write {
             margin-left: 33%; 
             color: #FFC312;
        }
    }
     @media (min-width: 1300px) {
       #Write {
             margin-left: 33%; 
             color: #FFC312;
        }
    }